*{
    margin: 0;
}


h1{
    font-size: 350%;
    text-align: center;
}

h4{
    font-size: 150%;
    text-align: center;
}


body{
    font-size: 125%;
    text-align: center;
}

img{
    position: relative;
    top: 30px;
    width: 10%;
}

textarea{
    text-align: center;
}





footer{
    font-weight: 1000;
    background-color: #888888;
    height: 200px;
    border-top: 4px solid black;
    opacity: 0.8;
    font-size: 13px;
}

.contacto{
    position: relative;
    font-size: large;
    margin: auto;
    top: 40px;
    max-width: 500px;
}

.contacto>i{
    color: black;
    position: relative;
    top: 10px;
    width: 75px;
    font-size: 30px;
}

.insta{
    text-decoration: none;
    color: black;
    font-size: 30px;
    position: relative;
    top: 10px;
    padding-right: 50px;
}

@media (max-width:1200px){
    img{
        position: relative;
        top: 30px;
        width: 115px;
        height: 145px;
    }

}